body {
  box-sizing: border-box;
  background-color: rgb(229, 223, 223);
}
.app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.cardList,
.favoriteList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}
.cardItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
}
.cardItem p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cardItem h1 {
  margin-bottom: 50px;
}
.cardItem .imgWrapper {
  margin-top: auto;
}
.cardItem img {
  height: 200px;
  object-fit: cover;
}
.cardItem .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
.cardItem button {
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}
.cardItem button svg {
  color: rgb(200, 196, 196);
}
.cardItem .like svg {
  transition: all 0.3s ease-out;
}
.cardItem .like .liked {
  color: red;
}
.cardItem .delete svg {
  transition: all 0.3s ease-out;
}
.cardItem .delete:hover svg {
  color: red;
}
nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}
nav a {
  font-size: 20px;
  color: #fff;
  background-color: blueviolet;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
}
.product{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}
